body {
    margin:0;
    padding:0;
}

#container{
    width:770px;
    margin:auto;
}

#header{
    width:100%;
    height:125px;
}

#header img {
    border:0;
    padding:0;
}

#navcontainer{
    margin-top: 2px;
    color: #088;
    font-weight: bold;
    font-size: 14px;
}

#navlist
{
    margin: 0;
    padding: 3px 0;
    border-top:solid 1px #088;
    border-bottom:solid 1px #088;
}

#navlist li {
    list-style: none;
    margin: 0;
    display: inline;
}

#navlist li a {
    padding: 3px 0.5em;
    margin-left: 0px;
    border-bottom: none;
    background: #FFFFFF;
    text-decoration: none;
}

#navlist li a:link {
    color: #088;
}

#navlist li a:visited {
    color: #088;
}

#navlist li a:hover {
    color: #FFFFFF;
    background: #088;
}

#rightpanel {
    float:right;
    width:177px;
    margin-left:10px;
    padding:0.7em;
    font-size:small;
    border-left:2px solid black;
    border-bottom:2px solid black;
    background-color: #ddd;
}

#rightpanel h3 {
    text-align:center;
    border-top:solid 2px black;
    border-bottom:solid 2px black;
}

#rightpanel h4 {
    text-align:center;
    border-top:solid 2px black;
    border-bottom:solid 2px black;
    padding:0;
    margin:0;
    margin-top:1em;
}

#rightpanel img {
    border:0;
    margin:0;
    vertical-align:middle;
}

.developper {
    display:block;
    text-align:right;
    font-weight:bold;
    font-size:x-small;
}

h4#authors {
    border-top:solid 2px black;
    border-bottom:solid 2px black;
}

h4#contributors  {
    border-top:solid 2px black;
    border-bottom:solid 2px black;
}

.contribution {
    display:none;
}

.developper:hover .contribution{
    display:block;
    color:green;
    font-size:x-small;
    position:absolute;
    top:490px;
    width:110px;
}

#main {
    text-align:justify;
    padding-left:1em;
    width:70%;
}

#main h3 {
    color:#444;
    border-bottom:solid 1px green;
}

#main h4 {
    color:#444;
}

#main pre {
    background-color:#ccc;
    border:solid 1px gray;
}

#main img.screenshot {
    border:0;
    margin-left:5%;
    margin-right:5%;
    width:90%;
}

.item{
    color:navy;
    font-weight:bold;
}

.item_desc {
    text-align:right;
}

.item_desc a, .item_desc a:visited {
    color:navy;
    text-decoration:none;
    font-weight:bold;
    display:block;
}

.item_desc a:hover {
    color:red;
}

.features_column {
/*
    float:left;
    width: 45%;
*/
    padding-left:2em;
    padding-right:2em;
    text-align:left;
}

.feature {
    font-weight:bold;
    color:navy;
}

.feature_desc{
    font-size:small;
    padding-left:3em;
}

.version_desc {
    padding-left:15px;
}

.single_item {
    text-align:center;
    font-weight:bold;
}

.single_item a, .single_item a:visited {
    text-decoration:none;
    color:navy;
    display:block;
    border-left:solid 10px #ddd;
    border-bottom:solid 3px #ddd;
}

.single_item a:hover {
    border-left:solid 10px #ddd;
    background-color:white;
}

#footer{
    margin-top: 20px;
    border-top: solid 1px gray;
    color:#888;
    background-color: #ddd;
    bottom:0;
}

#footer p {
    margin:0px;
    padding:2px;
    font-size:small;
    text-align:right;
}

#footer img {
    border:0;
    margin:0;
    vertical-align:bottom;
    width:50px;
}

#footer a, #footer a:visited, #footer a:hover{
    text-decoration:none;
    color:#088;
}

#footer p.floatleft {
    float:left;
    text-align:left;
    width:75%;
}

.empty {
    padding:10px;
    height:60px;
}

.red {
    color:red;
    background-color:white;
}

.orange {
    color:#FF9933;
    background-color:white;
}
