<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="net.sf.jabref.imports.dblppp" version="1.0"
	class="net.sf.jabref.imports.dblppp.JabRefDBLPppPlugin">
	
	<requires>
		<import plugin-id="net.sf.jabref.core"/>
	</requires>
	
	<!-- Will load code and resources from the home folder -->
	<runtime>
		<library type="code" path="./" id="code"/>
		<library type="resources" path="./" id="resouces"/>
	</runtime>
	
	<extension id="DBLPFetcher" plugin-id="net.sf.jabref.core" point-id="EntryFetcher">
		<parameter id="entryFetcher" value="net.sf.jabref.imports.dblppp.DBLPppFetcher" />
		<parameter id="name" value="DBLP++ Entry Fetcher" />
		<parameter id="description"
			value="Fetch Entries from the DBLP++ system (http://dblp.l3s.de)." />
	</extension>

</plugin>
