*~
out
.idea
/jabref/bin
/jabref/build.number
/jabref/build/
/jabref/src/resource/build.properties
/jabref/src/windows/nsis/dist/
/plugins/net.sf.jabref.export.xml/bin/
/plugins/net.sf.jabref.imports.acm1/bin/
/plugins/net.sf.jabref.imports.dblppp/bin/
.bak
